.hui-block {
  display: block;
  overflow: auto;
  background-color: white;
  margin-top: ~'30rpx';
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-top: ~'1rpx' solid #e5e5e5;
    content: ' ';
  }

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: ~'1rpx' solid #e5e5e5;
    content: ' ';
  }
}
